rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // CAMBIO AQUI: Solo permitimos LEER la configuración (el candado cerrado)
    match /configuracion/{document=**} {
      allow read: if true;
      allow write: if false;  // <--- Nadie puede modificar la clave desde la web ahora
    }
    // El resto sigue igual (para que el chat funcione)
    match /{document=**} {
      allow read, write: if true; 
    }
  }
}
